body {
    background-color: #000;
    color: #E3E899;
    margin: 5%;
    padding: 10%;
    border: 1px solid #333333;
    max-width: 95%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.big_heading {
    display: flex;
    align-items: center;

    font-style: italic;
}

test{
    font-size: 500px;
    display: flex;
    align-items: center;
    font-style: oblique;
    font-weight: 900;
}