body {
    background-color: #000;
    color: #E3E899;
    margin: 5%;
    padding: 10%;
    border: 1px solid #333333;
    max-width: 95%;
}

p {
    margin: 1%;
    padding: 2%;
    border: 1px solid #333333;
    max-width: 95%;
}

iframe{
    margin: 5px;
    padding: 5%;
    border: 1px solid #333333;
    max-width: 50%;
}

img{
    margin: 5px;
    padding: 5%;
    border: 1px solid #333333;
    max-width: 50%;
}



.big_heading {
    display: flex;
    align-items: center;
    font-style: italic;
    margin: 1%;
    padding: 2%;
    border: 1px solid #333333;
    max-width: 20%;
}

test{
    font-size: 100px;
    display: flex;
    align-items: center;
    font-style: oblique;
    font-weight: 900;
}

hold{
    margin: 1%;
    padding: 2%;
    border: 1px solid #333333;
    max-width: 95%;
}