body {
    background-color: #000;
    color: #E3E899;
    margin: 25px;
    padding: 5px;
    border: 1px solid #333333;
    max-width: 95%;
    text-align: center;
}

.heade{
    display: flex;
    flex-direction: column;
}
.heade div{
    display: block;
}

nav{
    display: block;
}
nav ul{
    display: flex;
}
nav ul li{
    display: block; 
    margin: 5px;
    padding: 5%;
    border: 1px solid #333333;
    max-width: 50%;   
}

.container_img {
    display: flex;
    height: 400px;
    align-items: flex-start;
    background-color: #0c0c0c;
    border: 1px solid #333333;
    justify-content: center;
    align-items: center;
}
.container div {
    display: flex;
    background-color: #1a1919;
    width: 50%;
    margin: 10px;
    padding: 10px;
    text-align: center;  
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.container div img{
    width: 75%;
    height: 70%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.container div h2{
    width: 50%;
    height: 10%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.source{
    display: flex;
    flex-direction: row;
}
.source div{
    display: block;
    width: 33%;
    margin: 10px;
    padding: 10px;
    text-align: center;  
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.box1 {
    margin: 1%;
    padding: 2%;
    border: 1px solid #333333;
    max-width: 95%;
}

.box2 {
    margin: 5px;
    padding: 5%;
    border: 1px solid #333333;
    max-width: 50%;
}

.big_heading1 {
    display: flex;
    align-items: center;
    font-style: italic;
    margin: 1%;
    padding: 2%;
    border: 1px solid #333333;
    max-width: 20%;
}


test{
    font-size: 75px;
    display: flex;
    align-items: center;
    font-style: oblique;
    font-weight: 900;
    text-align: center;
}

@media (max-width: 600px) {
    body {
        background-color: yellow;
        color: #E3E899;
        margin: 25px;
        padding: 5px;
        border: 1px solid #333333;
        max-width: 95%;
        text-align: center;
    }

    .heade{
        display: flex;
        flex-direction: column;
    }
    .heade div{
        display: block;
    }

    nav{
        display: block;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        display: block; 
        margin: 5px;
        padding: 5%;
        border: 1px solid #333333;
        max-width: 50%;   
    }

    .container_img {
        display: flex;
        flex-direction: column;
        height: 50%;
        align-items: flex-start;
        background-color: #0c0c0c;
        border: 1px solid #333333;
        justify-content: center;
        align-items: center;
    }
    .container div {
        display: flex;
        background-color: #1a1919;
        width: 50%;
        margin: 10px;
        padding: 10px;
        text-align: center;  
        font-size: 30px;
        justify-content: center;
        align-items: center;
    }
    .container div img{
        width: 75%;
        height: 70%;
        margin: 10px;
        padding: 10px;
        text-align: center;
    }
    .container div h2{
        width: 50%;
        height: 10%;
        margin: 10px;
        padding: 10px;
        text-align: center;
    }

    .source{
        display: flex;
        flex-direction: column;
    }
    .source div{
        display: block;
        width: 33%;
        margin: 10px;
        padding: 10px;
        text-align: center;  
        font-size: 30px;
        justify-content: center;
        align-items: center;
    }
}

